//imported stylesheets
@import "variables";

//alternate color schemes
//
//
//

//random color generator
//
//
//

//styles
body {
    color: @primaryText;
}

h1 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    color: @primaryText;
    font-size: 36px;
}

h4 {
    text-transform: uppercase;
    color: @secondaryText;
    font-size: 32px;
}

p {
    color: @secondaryText;
}

hr {
    color: @divider;
    width: 50%;
}

nav {
    background-color: @primary;
    color: @textIcon;
    
    a {
        color: @textIcon;
        text-decoration: none;
        
        &:hover {
            background-color: @darkPrimary;
        }
        &:active {
            background-color: @darkPrimary;
        }
    }
}

.fa {
    font-size: 40px;
    color: @primary;
}

#portfolio-section {
    .portfolio-image {
        width: 100%;
    }
    .mix {
        display: none;
    }
}

#blog-section {
    .column-sizer {
        width: 50%;
    }
    .grid-item {
        width: 50%;
        img {
            width: 100%;
        }
    }
    .width-2 {
        width: 100%;
    }
}

#contact-section {
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    .contact-information {
        list-style-type: none;
        font-size: 40px;
    }
}
