.fa {
  font-size: 40px;
}
#contact-section input {
  width: 100%;
}
#contact-section textarea {
  width: 100%;
}
#contact-section .contact-information {
  list-style-type: none;
  font-size: 40px;
}
#portfolio-section .portfolio-image {
  width: 100%;
}
